@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__image-container/lead__image-container.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 984px;

  display: grid;
  grid-template: auto auto  auto / minmax(320px, 1fr);

  margin: 0 auto;
  padding-top: 58px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 50px;
  }
}
