.route66__subtitle {
  font-size: 18px;
  line-height: 22px;
  width: 320px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .route66__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}