.lead__title {
  max-width: 720px;

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;

  margin: 0 auto;
}

@media screen and (max-width: 780px) {
  .lead__title {
    max-width: 90%;
    font-size: 12vw;
    line-height: 1.1em;
  }
}
