.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 32px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}