.intro__facts {
  max-width: 690px;
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__facts {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__facts {
    max-width: 288px;
  }
}