.pageContainer {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .pageContainer {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .pageContainer {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .pageContainer {
    max-width: 320px;
  }
}