@import url(./__fact/intro__fact.css);
@import url(./__facts/intro__facts.css);
@import url(./__fact-value/intro__fact-value.css);
@import url(./__grid-container/intro__grid-container.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 984px;

  display: grid;
  grid-template: auto auto  auto / minmax(288px, 1fr);

  margin: 0 auto;
  padding: 92px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 86px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
