.route66__title {
  max-width: 656px;

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;

  margin: 0;
  padding: 0;
  z-index: 2;
}

@media screen and (max-width: 690px) {
  .route66__title {
    font-size: 3em;
    line-height: 1.1;
  }
}

@media screen and (max-width: 460px) {
  .route66__title {
    font-size: 2.5em;
    line-height: 1.1;
  }
}

@media screen and (max-width: 388px) {
  .route66__title {
    font-size: 2.2em;
    line-height: 1.1;
  }
}