@import url(./__content/place__content.css);
@import url(./__content-item/place__content-item.css);
@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__url-info/place__url-info.css);
@import url(./__url-link/place__url-link.css);
@import url(./__url-title/place__url-title.css);

.place {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 984px;
  width: 100%;

  display: grid;
  grid-template: auto auto / 1fr 1fr;
  grid-gap: 48px 40px;
  
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 80px;
}

.place:nth-child(4) {
  padding-top: 92px;
}

.place:nth-child(8) {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template: auto auto  auto / 1fr;
    grid-gap: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 48px;
  }
}